<ul>
    <%if(buyflag){%>
    <%for (var i=0;i<things1.length;i++){%>
    <li><%=things1[i]%></li>
    <%}%>
    <%}else{%>
    <%for(var i=0;i<things2.length;i++){%>
    <li><%=things2[i]%></li>
    <%}%>
    <%}%>
</ul>